/* ------------------------------------------------------------------ */
/* Burger
--------------------------------------------------------------------- */

.burger-icon {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    transition: all 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
}

.burger-icon span {
    display: block;
    position: absolute;
    transform: rotate(0deg);
    opacity: 1;
    z-index: 990;
    height: 1px;
    width: 100%;
    background-color: #fff;
    opacity: 1;
    transition: all 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
}

.burger-icon span:nth-child(1) {
    top: 0%;
    opacity: 1;
}
.burger-icon span:nth-child(3) {
    opacity: 0;
}

.burger-icon span:nth-child(2),
.burger-icon span:nth-child(3) {
    top: 50%;
    transform: rotate(0) translateY(-50%);
}

.burger-icon span:nth-child(4) {
    width: 70%;
    right: 0;
    top: 100%;
    transform: translateY(-1px);
    opacity: 1;
}

/* ------------------------------------------------------------------ */
/* Emoji on hover in Intro block
--------------------------------------------------------------------- */

.emoji {
    position: fixed;
    font-size: 40px;
    top: -20px;
    left: -20px;
    z-index: 100000;
    opacity: 0;
    pointer-events: none;
}

/* ------------------------------------------------------------------ */
/* Mobile menu
--------------------------------------------------------------------- */

.mobile {
    &-menu {
        &.active {
            transform: translateX(0);
        }
        .menu-el {
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-100%, -100%);
                font-size: 16px;
                line-height: 10px;
                color: #fff;
                opacity: 0.6;
            }
            &:nth-child(1)::before {
                content: "01";
            }
            &:nth-child(2)::before {
                content: "02";
            }
            &:nth-child(3)::before {
                content: "03";
            }
            &:nth-child(4)::before {
                content: "04";
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* ------------------------------------------------------------------ */
/* Works Block
--------------------------------------------------------------------- */

.works {
    &-el {
        flex-basis: 100%;
        .title {
            writing-mode: vertical-rl;
            & span {
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #fff;
            }
        }
        &--top {
            &_img {
                transform: scale3d(1.2, 1.2, 1);
            }
        }
        &--bottom {
            &_link {
                transition: all 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
                & span {
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -15px;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: #4c6ccb;
                        transition: all 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
                    }
                    &:hover::after {
                        bottom: -20px;
                        width: 20px;
                        height: 20px;
                        transition: all 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
                    }
                }
            }
        }
        // Work number 1
        &:nth-child(1) .works-el--top {
            background-color: #fe8e23;
        }
        // Work number 2
        &:nth-child(2) .works-el--top {
            background-color: #00c0ff;
        }
        // Work number 3
        &:nth-child(3) .works-el--top {
            background-color: #434343;
        }
        // Work number 4
        &:nth-child(4) .works-el--top {
            background-color: #000;
        }
    }
}

/* ------------------------------------------------------------------ */
/* About Block
--------------------------------------------------------------------- */

.about {
    .experiences {
        &-el {
            .title {
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #fff;
            }
        }
    }
}

@import "media";
