html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: $main;
    height: 100%;
    width: 100%;
    min-width: 320px;
    overflow: hidden;
    cursor: none !important;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}
button {
    padding: 0;
    border: 0;
}
input,
textarea {
    border-radius: 0 !important;
    box-shadow: none !important;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 0;
}
.container {
    width: 100%;
    max-width: 100%;
    padding: 0 10%;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
    content: '';
    position: fixed;
    z-index: 1000;
}

.js .loading::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $main;
}

.js .loading::after {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
    opacity: 0.4;
    background: rgba($white-bg, 0.5);
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}


.st0 {
    display: none;
}

.st1 {
    fill: #ffffff;
}

.st2 {
    enable-background: new;
}

.st3 {
    fill: #ffffff;
}

.cursor {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    position: fixed;
    top: -20px;
    left: -20px;
    z-index: 1000;
    pointer-events: none;
    &-point {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
    }
    &-border {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        border-radius: 50%;
        opacity: 0.5;
    }
}

/* ------------------------------------------------------------------ */
/* General Works Properties
 ------------------------------------------------------------------ */
.works-wrapper__content-el--right_wrapper:hover {
    @include transition;

    transform: scale(1.05);
}
.work-img {
    position: absolute;
    z-index: 1;
    & img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

.works-wrapper__content-el--right_wrapper:hover::after {
    @include transition;

    opacity: 0.3;
}

.flipped {
    margin-left: auto;
}

.link-span {
    text-align: center;
}

.work1-link,
.work2-link,
.work3-link,
.work4-link {
    position: relative;
    z-index: 1;
    overflow: hidden;
    & span {
        position: relative;
        z-index: 3;
    }
}

.work-link {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    border-radius: 50%;
    &__circle {
        position: absolute;
        z-index: 1;
        width: 0px;
        height: 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        // background-color: $dark-pink;
        @include transition;

        &--active {
            width: 450px;
            height: 450px;
            @include transition;
        }
    }
}

.works-wrapper__content-el--right:hover .works-wrapper__content-el--right_visible-bw {
    opacity: 0.6;
    @include transition;
}

/* ------------------------------------------------------------------ */
/* Work 1
 ------------------------------------------------------------------ */

.works-wrapper__content-el:nth-child(1) {
    margin-left: 10%;
    width: 30vw;
}

.works-wrapper__content-el:nth-child(1) .works-wrapper__content-el--top {
    height: 35vw;
    background-color: #fe8e23;
}

.works-wrapper__content-el:nth-child(1) .link-span::after {
    left: -0.8vw;
}
.works-wrapper__content-el:nth-child(1) .link-span:hover::after {
    left: -1.2vw;
}
/* ------------------------------------------------------------------ */
/* Work 2
 ------------------------------------------------------------------ */

.works-wrapper__content-el:nth-child(2) {
    margin-top: 24vw;
    margin-bottom: 3vw;
    width: 26.3vw;
    position: relative;
}

.works-wrapper__content-el:nth-child(2) .works-wrapper__content-el--top {
    height: 30.68vw;
    background-color: #00c0ff;
}

.works-wrapper__content-el:nth-child(2) .works-wrapper__content-el--welcome {
    right: 0;
    top: -24vw;
}

.works-wrapper__content-el:nth-child(2) .link-span::after {
    right: -0.8vw;
}
.works-wrapper__content-el:nth-child(2) .link-span:hover::after {
    right: -1.2vw;
}
/* ------------------------------------------------------------------ */
/* Work 3
 ------------------------------------------------------------------ */

.works-wrapper__content-el:nth-child(3) {
    top: -8vw;
    margin-left: 20%;
    width: 25vw;
    position: relative;
}

.works-wrapper__content-el:nth-child(3) .works-wrapper__content-el--top {
    height: 29.16vw;
    background-color: #0b0b0b;
}

.works-wrapper__content-el:nth-child(3) .link-span::after {
    left: auto;
    right: -0.8vw;
}

.works-wrapper__content-el:nth-child(3) .link-span::after {
    right: -0.8vw;
}
.works-wrapper__content-el:nth-child(3) .link-span:hover::after {
    right: -1.2vw;
}

.works-wrapper__content-el:nth-child(3) .works-wrapper__content-el--welcome {
    left: 0;
    bottom: -20vw;
}

/* ------------------------------------------------------------------ */
/* Work 4
 ------------------------------------------------------------------ */

.works-wrapper__content-el:nth-child(4) {
    margin-left: 10%;
    top: 10vw;

    width: 30vw;
    position: relative;
}

.works-wrapper__content-el:nth-child(4) .works-wrapper__content-el--top {
    height: 35vw;
    background-color: #434343;
}

.works-wrapper__content-el:nth-child(4) .link-span::after {
    left: -0.8vw;
}
.works-wrapper__content-el:nth-child(4) .link-span:hover::after {
    left: -1.2vw;
}

/* ------------------------------------------------------------------ */
/* Work 5
 ------------------------------------------------------------------ */

.works-wrapper__content-el:nth-child(5) {
    // top: -20vw;
    margin-left: 20%;
    width: 26.3vw;
    position: relative;
}

.works-wrapper__content-el:nth-child(5) .works-wrapper__content-el--top {
    height: 30.68vw;
    background-color: #8a8a8a;
}

.works-wrapper__content-el:nth-child(5) .link-span::after {
    right: -0.8vw;
}
.works-wrapper__content-el:nth-child(5) .link-span:hover::after {
    right: -1.2vw;
}

/* ------------------------------------------------------------------ */
/* Hover Animations
 ------------------------------------------------------------------ */

.header-menu__wrapper-nav--el.menu-active span {
    // background-color: $text;
    color: $main;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

#message-success,
#message-warning {
    display: none;
}

.contactPage-bottom__cont-el--ta:focus::placeholder {
    color: transparent;
}

.contactPage-bottom:hover .cursor-point {
    background-color: $main;
}

#burger {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    @include transition;
    // overflow: hidden;
}

#burger span {
    display: block;
    position: absolute;
    transform: rotate(0deg);
    opacity: 1;
    z-index: 990;
    height: 1px;
    width: 100%;
    background-color: #fff;
    opacity: 1;
    @include transition;
}

#burger span:nth-child(1) {
    top: 0%;
    opacity: 1;
}
#burger span:nth-child(3) {
    opacity: 0;
}

#burger span:nth-child(2),
#burger span:nth-child(3) {
    top: 50%;
    transform: rotate(0) translateY(-50%);
}

#burger span:nth-child(4) {
    width: 70%;
    right: 0;
    top: 100%;
    transform: translateY(-1px);
    opacity: 1;
}



.emoji {
    position: fixed;
    font-size: 40px;
    top: -20px;
    left: -20px;
    z-index: 100000;
    opacity: 0;
    pointer-events: none;
}

.contact-line {
    display: inline-block;
    width: 5vw;
    height: 3.8vw;
    position: relative;
    overflow: hidden;
    &__line {
        position: absolute;
        top: 50%;
        left: -100%;
        width: 100%;
        height: 5px;
        background-color: #fff;
    }
}

.about-wrapper__background-right .about-wrapper__background-right--el:hover{
    opacity: 1 !important;
}




